@import url('https://fonts.googleapis.com/css2?family=Miltonian&family=Raleway:wght@300&display=swap');








body {
    padding-top: 56px;
    background-color: #f3e9f1;
  }
  

  header{
      margin-bottom: 50px;
      font-family: 'Miltonian',Arial, Helvetica, sans-serif;
      font-size: larger;
  }

  footer{
     background-color: #711966!important;;
  }


  h1{
      text-align: center;
      margin-bottom: 25px;
  }

  h2,h3{
      text-align: center;
      margin-bottom: 10px;
  }


  .imgsize{
      height: 250px;
      object-fit:cover ;
  }

  #orgaPanier{
      justify-content: center;
      padding: 10px 10px 0 10px;
  }
  
  .recapPanier{
      display: flex;
      flex-wrap: wrap;
      background-color: antiquewhite;
      justify-content: center;
      border: solid 2px #711966;
      border-radius: 10px;
      width: 100%;
  }

  .itemPanier{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;
      border: solid 1px #c964e1;
      border-radius: 5px;
      background-color: #ffc979;
  }

  .imgTeddy{
      height: 120px;
      width: 350px;
      border-radius: 5px;
      object-fit: cover;
  }

  .priceTeddy{
      width: 100px;
  }

  .reponsePanierVide{
      position: fixed;
      z-index: 1;
      background-color: blueviolet;
      color: black;
      height: 100vh;
      width:100vw;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -50px;
  }

  .noFormulaire{
      display: none;
  }

  .bg-pink{
      background-color: #8927a7!important;
  }

  .orange{
    color: #d9832f!important;
  }

  .fadepink{
    color: #f3e9f1!important;
  }

  .logocolor{
    color: #c964e1!important;
  }

  .align{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
  }
  
  .lienheader{
    display: block;
    padding: .5rem 1rem;
  }

  .lienheader:hover{
      text-decoration: underline,blue;
  }

  .totalPanier{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      border: solid 2px #d9832f;
      font-size: 35px;
      font-family: 'Raleway',Arial, Helvetica, sans-serif;
      background-color: lightskyblue;
      margin: 0px 20px;
      border-radius: 25px;
  }

  .orgaFormulaire{
      margin: 10px;
  }


  .formulaire{
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0px;
  }

  .caseform{
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .logo{
      width: 50%;
  }