@import url('https://fonts.googleapis.com/css2?family=Miltonian&display=swap');








body {
    padding-top: 56px;
    background-color: #f3e9f1;
  }

  header{
      margin-bottom: 50px;
      font-family: 'Miltonian',Arial, Helvetica, sans-serif;
      /* color: #d9832f!important; */
      font-size: larger;
  }

  footer{
     background-color: #711966!important;;
  }


  h1{
      text-align: center;
      margin-bottom: 25px;
  }

  .imgsize{
      height: 250px;
      object-fit:cover ;
  }

  .orgaPanier{
      /* display: flex; */
      /* flex-direction: row; */
      border: solid 2px;
      width: 60%;
  }

  .itemPanier{
      display: flex;
      height: 50px;
      width: 50%;
  }

  .imgTeddy{
      height: 50px;
      width: 50px;
  }

  .priceTeddy{
      width: 100px;
  }

  .reponsePanierVide{
      position: fixed;
      z-index: 1;
      background-color: blueviolet;
      color: black;
      height: 100vh;
      width:100vw;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -50px;
  }

  .noFormulaire{
      display: none;
  }

  .bg-pink{
      background-color: #8927a7!important;
  }

  .orange{
    color: #d9832f!important;
  }

  .fadepink{
    color: #f3e9f1!important;
  }

  .logocolor{
    color: #c964e1!important;
  }